---
import AppLayout from "../layouts/AppLayout.astro"
import Post from "../components/post-thumbnail.astro"
---
<AppLayout>
	<div class="w-full grid grid-cols-1 
		gap-3
		md:grid-cols-2 md:gap-1
		justify-items-center
		2xl:grid-cols-3">
		<Post/>
		<Post/>
		<Post/>
		<Post/>
		<Post/>
		<Post/>
	</div>
</AppLayout>
