---
import AppLayout from "../layouts/AppLayout.astro"
import { AuthBasedPostsFeed } from "../components/post-feed"
import { Searchbar } from "../components/search"

---
<AppLayout>
	<div class="flex flex-col items-center">
		<Searchbar className="w-[60%]" placeholder="share and discover recipes with stovetop" client:only/>
		<AuthBasedPostsFeed client:only/>
	</div>
</AppLayout>
