---
import AppLayout from "../layouts/AppLayout.astro"
import { FeedTabs, FeedContent } from "../components/post-feed"

---
<AppLayout>
	<FeedTabs client:only/>
	<div class="mb-5 border-gray-350 border-b py-1"></div>
	<div class="flex flex-col items-center">
		<FeedContent client:only/>
	</div>
</AppLayout>
