---
import AppLayout from "../layouts/AppLayout.astro"
import { Searchbar } from "../components/search"
import UserProfileBar from "../components/user-profilebar"
import { UserPosts } from "../components/user-profilebar"
---
<AppLayout>
	<div class="text-wrap flex flex-col items-center gap-3">
		<div class="md:w-xl flex flex-col gap-3 pb-5">
			<UserProfileBar client:load/>
			<Searchbar placeholder="search recipes" client:load/>
		</div>

		<UserPosts client:load/>
	</div>
</AppLayout>

